{% extends 'base.html' %}

{% block titulo %}
Inicio
{% endblock %}

{% block contenido %}
<div class = "text-center">
    <br>
    <br>
    <br>
    <h1 style="font-family:Rockwell;color:#000000">Bienvenido a FalsoNike</h1>
    <h5 style="font-family:Rockwell;color:#000000">PRODUCTOS DE CALIDAD</h5>
    <br>
    <br>
    <br>
</div>
<div id="carouselExampleFade" class="carousel slide carousel-fade " data-ride="carousel">
    <div class="carousel-inner text-center">
        <div class="carousel-item active" >
        <center>
            <img src="/media/pantalon-nike-dri-fit-academy.jpg" class="d-block w-141" alt="banner3" width="400" height="500"
            style="opacity: 1">
        </center>
        </div>
        <div class="carousel-item ">
        <center>
            <img src="/media/AH7363-107_0.jpg" class="d-block w-141" alt="banner3" width="400" height="500">
        </center>
        </div>
        <div class="carousel-item ">
        <center>
            <img src="/media/AC2286-010_0.jpg" class="d-block w-141" alt="banner3" width="400" height="500" >
        </center>

        </div>
    </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleFade" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleFade" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div

{% endblock %}