{% extends 'base.html' %}
<!--esto es django-->
{% block titulo %}
Inicio
{% endblock %}

{% block contenido %}
<section class="publicidad">
    <div class="publicidad-banner">
        <a class="publicidad-enlace" href="RegistrarUsuario">
            <img src="../media/publicidad.jpg" class="img-fluid" alt="publicidad">
        </a>
    </div>
</section>
<main> 
    <h2 class="contenido-heading custom-font text-shadow-pop-top"><q>ELEVÁ TU ESTILO</q></h2>
    <ul class="proyectos__grid">
        <li class="proyecto">
            <figure class="proyecto__contenido">
                <div class="proyecto__imagen">
                    <img src="../media/1.jpg" alt="banner3" width="400" height="500">
                </div>
            </figure>
        </li>
        <li class="proyecto">
            <figure class="proyecto__contenido">
                <div class="proyecto__imagen">
                    <img src="../media/2.webp" alt="banner3" width="400" height="500">
                </div>
            </figure>
        </li>
        <li class="proyecto">
            <figure class="proyecto__contenido">
                <div class="proyecto__imagen">
                    <img src="../media/3.webp" alt="banner3" width="400" height="500" >
                </div>
            </figure>
        </li>
    </ul>
</main>
<section class = "contenedor">
    <h2 class="contenedor__heading">Unete al club y obtenga hasta 6 cuotas sin interés</h2>
    <!--<h1 style="font-family:Rockwell;color:#000000">Bienvenido a FalsoNike</h1>
    <h5 style="font-family:Rockwell;color:#000000">PRODUCTOS DE CALIDAD</h5>-->
        <div class="contenedor__info">
            <img src="../media/running.jpg" alt="">
            <div class="promocion">
                <h2>¡Hasta <span>40%</span> off!</h2>
            </div>
        </div>
</section>


{% endblock %}