{% extends 'base.html' %}

{% block titulo %}
    Productos
{% endblock %}

{% block contenido %}

<div class="d-flex" style="margin-top:5rem; margin-left:7rem">

    <div class="card" style="width: 18rem; background-color: #ffffff8f" >
        <img class="card-img-top text-center" src="{{object.imagen.url}}" onerror="this.src='/media/profile_image/default.jpg'" alt="Foto de perfil" width="200" height="200">
        <div class="card-body text-center">
            <h2 class = "text-center"><ins>{{object.username}}</ins> </h2>
            <p class = "text-left"><b>Nombre: </b>{{object.nombres}}</p>
            <p class = "text-left"><b>Apellido: </b>{{object.apellidos}}</p>
            <p class = "text-left"><b>Email: </b>{{object.email}}</p>
            <p class = "text-left"><b>Linkedin: <a href="{{object.linkedin}}" label ="asd">{{object.nombres}}</a></p>
                <br>
            <a href="/Nike/Editar_User/{{object.id}}/" class= 'btn btn-primary'> Editar  </a>
            <a href="/Nike/Eliminar_User/{{object.id}}/" class= 'btn btn-danger'> Eliminar </a>
        </div>
    </div>

</div>

{% endblock %}